body{
    font-family: arial;
}
a{
    color: #5599BB;
}
.app_clear{
    clear: both;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.margin_padding{
    margin: 5px;
    padding: 5px;
}
.pic_header{
    width: 738px;
    height: 80px;
    background-color: white;
}
.pic_footer{
    height: 200px;
}
.detail_content{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}
.content{
    width: 760px;
}
.content ul{
    list-style-type: none;
}
.content li{
    display: inline-block;
    margin-left: 68px !important;
}
.detail_content li a:hover{
    color: blue;
}
.content_header{
    background: #6699bb;
    border: 1px solid;
    color: white;
    padding: 5px;
}
.content_textarea{
    border: 1px solid;
    left: 1px;
    position: relative;
    top: -1px;
    width: 735px;
}
.textarea_job{
    width: 390px;
    border: 2px solid #EEEEEE
}
.admin_job_left{
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
}
.admin_job_right{
    width: 300px;
    margin-top: 5px;
}
.separator{
    border: 1px solid black;
}
.p_jobs{
    font-size: 10pt;
    font-family: arial, times new roman;
    margin: 5px 0px; 
}
.centering{
    margin: 5px 10px;
}
.col1{
    width: 66px;
}
.col2{
    width: 100px;
}
.col3{
    width: 83px;
}
.avatar_container{
    width: 60px;
    height: 60px;
}
.message_container{
    height: auto;
    border: 1px solid;
    margin-left: 5px;
    width: 658px;
    padding: 5px;
}
.comment_on_comment{
    width: 640px;
    padding: 5px;
}
.other_user_comment{
    height: auto;
    margin-left: 5px;
    padding: 5px;
    width: 560px;
}
.sendBtn{
    -moz-border-radius: 5px;
    background: url("/images/button3.png") repeat scroll 0 0 #D9D8D8;
    border: 1px solid #C0C0C0;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
}
/*like a comment*/
.wallContent.like {
    background: url("/images/like.png") no-repeat scroll 5px 50% #DDEDF6;
    padding: 5px 10px 5px 25px;
}
.wallContent {
    background: none repeat scroll 0 0 #DDEDF6;
    margin-bottom: 3px;
    padding: 5px;
