html{
    font-family: arial !important;
    font-size: 10px;
}
.a_href{
    color: #5599BB;
    font-size: 10px;
}
.app_clear{
    clear: both;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.margin_padding{
    margin: 5px;
    padding: 5px;
}
.pic_header{
    width: 738px;
    height: 80px;
    background-color: white;
}
.pic_footer{
    height: 200px;
}
.detail_content{
    height: auto;
    overflow: hidden;
    border: 3px solid #5599BB;
}
.content{
    width: 760px;
}
.content ul{
    list-style-type: none;
}
.content li{
    display: inline-block;
}
.detail_content li a:hover{
    color: blue;
}
.content_header{
    background: #6699bb;
    border: 1px solid;
    color: white;
    padding: 5px;
}
.content_textarea{
    border: 1px solid;
    left: 1px;
    position: relative;
    top: -1px;
    width: 733px;
    border: 2px solid #EEEEEE;
}
.textarea_job{
    width: 390px;
    border: 2px solid #EEEEEE;
}
.admin_job_left{
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
}
.admin_job_right{
    width: 300px;
    margin-top: 5px;
}
.separator{
    border: 1px solid black;
}
.p_jobs{
    font-size: 10pt;
    font-family: arial, times new roman;
    margin: 5px 0px; 
}
.detail_content td {
    text-align:center;
}
.even, thead{
    background-color: #DDEDF6;
}
.odd{
    background-color: white;
}
.col1{
    width: 0px;
}
.col2{
    width: 503px;
}
.col3{
    width: 453px;
}
.avatar_container_comment{
    width: 80px;
    height: 60px;
}
.avatar_container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.avatar{
    width: 60px;
    height: 60px;
}
.message_container{
    height: auto;
    margin-left: 5px;
    width: 633px;
    padding: 5px;
}
.comment_on_comment{
    width: 627px;
    padding: 5px;
}
.other_user_comment{
    height: auto;
    margin-left: 5px;
    padding: 5px;
    width: 520px;
}
.sendBtn{
    -moz-border-radius: 5px;
    background: url("/images/button3.png") repeat scroll 0 0 #D9D8D8;
    border: 1px solid #C0C0C0;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
}
.message_list{
    border-bottom: 1px solid #C0C0C0;
}
/*avatar badge*/
.badge{
    width: 60px;
}
.thumb{
    height: 20px;
    width: 20px;
    float: right;
}
.wallBadge {
    float: left;
    height: 14px;
    margin-right: 10px;
    width: 14px;
}
/*like a comment*/
.firstEntry {
    background: url("/images/first.png") no-repeat scroll 10px 0 transparent;
    height: 5px;
    line-height: 5px;
    overflow: hidden;
}
.time{
    font-size: 10px;
}
.wallContent {
    background: none repeat scroll 0 0 #DDEDF6;
    margin-bottom: 3px;
    padding: 5px;
}
.wallContent.like {
    background: url("/images/like.png") no-repeat scroll 5px 50% #DDEDF6;
    padding: 5px 10px 5px 25px;
}
.wallContent.star {
    background: url("/images/star.png") no-repeat scroll 5px 50% #DDEDF6;
    padding: 5px 10px 5px 25px;
}
.wallContent.comment {
    background: url("/images/comment.png") no-repeat scroll 5px 50% #DDEDF6;
    padding: 5px 10px 5px 25px;
}
/*fellownation tab*/
#tabsnav li {
    float: left;
    margin-right: -1px;
}
#tabsnav li a{
    line-height: 23px;
    padding: 5px 10px;
    width: 163px;
}
#tabsnav .selected a{
    background: url("/images/tabs.png") repeat-x scroll 0 0 #5599BB;
    color: #FFFFFF;
}
#tabsnav li a {
    background: none repeat scroll 0 0 #DDEDF6;
    border: 1px solid #70AAC7;
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
