<div>
  <div class="avatar_container float_left">
    <img src="" alt="avatar">
  </div>
  <div class="float_left message_container">
    Public messages
  </div>
</div>
<div class="app_clear">&nbsp;</div>