<div class="content margin_padding">
  <div class="pic_header margin_padding">
    <img src="/images/rtbf.png" alt="head picture"/>
  </div>
  <div class="app_clear">&nbsp;</div>
  <%= render :partial => "/layouts/header.html" %>
  <div class="commonBox2">
    <div class="pic_header detail_content float_left  margin_padding">
      <div>
        <div class="newavatar">
          <img src="" alt="avatar"/>
          <img src="/images/badge.png" alt="avatar" class="mybadge"/>
        </div>
        <div class="float_left">
          <h1>RTBF</h1>
          <div class="myinlineLink"><a href="#">Following</a>:&nbsp;0</div>
          <div class="myinlineLink"><a href="#">Followed</a>:&nbsp;0</div>
          <div class="myinlineLink"><a href="#">Favorites</a>:&nbsp;0</div>
          <div class="myinlineLink"><a href="#">Messages</a>:&nbsp;0</div>
          <br/>
          Location : -<br/>
          Network : - <br/>
          Public URl : <a href="#">http://localhost:3000/rtbf</a>
        </div>
        <div class="app_clear">&nbsp;</div>
      </div>
      <div>
        <div class="content_header"><b>Basic Info</b></div>
        <div class="content_textarea"><%= @info["basic_info"] %></div>
      </div>
      <div class="app_clear">&nbsp;</div>
      <div>
        <div class="content_header"><b>Detailed Info</b></div>
        <div class="content_textarea"><%= @info["detailed_info"] %></div>
      </div>
      <div class="app_clear">&nbsp;</div>
      <div>
        <div class="content_header"><b>Files to Download</b></div>
        <div>
          <% @files.each do |file| %>
            <%= link_to file.filename, send_file_path(file)  %> <br />
          <% end %>
        </div>
      </div>
    </div>
    <div class="banner float_left  margin_padding">
    </div>
    <div class="clear"></div>
    <div class="pic_header pic_footer margin_padding">
      <img src="/images/rtbf_footer.png" alt="foot picture"/>
    </div>
  </div>
</div>
