<div class="content margin_padding">
  <div class="pic_header margin_padding">
    <img src="" alt="head picture"/>
  </div>
  <div class="app_clear">&nbsp;</div>
  <div>
      <ul>
        <li><a href="#">Wall</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Admin</a></li>
      </ul>
    </div>
    <div>
  <div class="pic_header detail_content float_left  margin_padding">
    <div>
      <div class="content_header"><b>Basic Info</b></div>
      <div><textarea class="content_textarea"></textarea></div>
    </div>
    <div class="app_clear">&nbsp;</div>
    <div>
      <div class="content_header"><b>Detailed Info</b></div>
      <div><textarea class="content_textarea"></textarea></div>
    </div>
    <div class="app_clear">&nbsp;</div>
    <div>
      <div class="content_header"><b>Files to Download</b></div>
      <div><textarea class="content_textarea"></textarea></div>
    </div>
    <div class="app_clear">&nbsp;</div>
    <div>
      <div class="content_header"><b>Jobs</b></div>
      <div>
        <div class="admin_job_left float_left">Date</div>
        <div class="float_left admin_job_right"><input type="text"/></div>
        <div class="clear"></div>
        <div class="admin_job_left float_left">Job Title</div>
        <div class="float_left admin_job_right"><input type="text"/></div>
        <div class="clear"></div>
        <div class="admin_job_left float_left">Location</div>
        <div class="float_left admin_job_right"><input type="text"/></div>
        <div class="clear"></div>
        <div class="admin_job_left float_left">body</div>
        <div class="float_left admin_job_right"><textarea class="textarea_job"></textarea></div>
        <div class="clear"></div>
        <input type="submit" class="float_right margin_padding" value="Add Job"/>
      </div>
    </div>
    <div class="app_clear">&nbsp;</div>
    <div>
      <div class="float_left">
        <p class="p_jobs">Dec 2010</p>
      </div>
      <div class="float_left">
        <p class="p_jobs centering">Global Digital Communications Manager</p>
      </div>
      <div class="float_left">
        <p class="p_jobs centering">Brussels, Belgium</p>
      </div>
      <div class="float_right">
        <input type="submit" value="delete"/>
      </div>
      <div class="clear"></div>
      <div class="separator"></div>
    </div>
    <div class="app_clear">&nbsp;</div>
    <div>
      <div class="float_left">
        <p class="p_jobs">Dec 2010</p>
      </div>
      <div class="float_left">
        <p class="p_jobs centering">Global Digital Communications Manager</p>
      </div>
      <div class="float_left">
        <p class="p_jobs centering">Brussels, Belgium</p>
      </div>
      <div class="float_right">
        <input type="submit" value="delete"/>
      </div>
      <div class="clear"></div>
      <div class="separator"></div>
    </div>
    <div class="app_clear"></div>
  </div>
  <div class="banner float_left  margin_padding">
  </div>
  <div class="clear"></div>
  <div class="pic_header pic_footer margin_padding">
    <img src="" alt="foot picture"/>
  </div>
</div>
