<div class="avatar_container float_left">
  <img src="<%= get_image(comment) %>" alt="avatar" style="height:60px; width: 60px;">
</div>
<div class="float_left other_user_comment">
  <%= comment["comment"] %>
</div>
<div class="app_clear">&nbsp;</div>
