<div class="avatar_container float_left">
  <img src="<%= get_image(comment) %>" alt="avatar" style="height:60px; width: 60px;">
</div>
<div class="float_left message_container" style="height:auto">
  <%= comment["comment"] %>
</div>