<div class="avatar_container float_left">
  <img src="<%= get_image(comment) %>" alt="avatar" class="avatar_container"/>
  <img src="/images/employee.png" class="thumb"/>
</div>
<div class="float_left other_user_comment">
  <%= comment["comment"] %>
</div>
<div class="app_clear">&nbsp;</div>
