<div>
  <div class="avatar_container float_left">
    <img src="<%= image %>" alt="avatar" style="height:60px; width: 60px;">
  </div>
  <div class="float_left message_container">
    <%= message %>
  </div>
</div>
<div class="app_clear">&nbsp;</div>