<script type="text/javascript">
  jQuery(document).ready(function($){
    $('.tabs').tabs();
    $("span.wallTime").timeago();
  });
</script>
<div class="application">
  <div class="tabs">
    <ul id="tabsnav">
      <li><%= link_to "Wall", '#walls_path' %></li>
      <li><%= link_to "Info", '#info_path' %></li>
      <li><%= link_to "Jobs", jobs_path %></li>
      <% if session["token_#{session[:fellownation_user_id]}"] == FKEY %>
        <li><%= link_to "Admin", admin_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="app_clear">&nbsp;</div>
